<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/form.css">
</head>

<body>
    <div>
        <h2>Edit Your Achievement</h2>

        <form method="POST" action="/achievement/<%=detail.id%>">
            <label for="achievement">Achievement</label>
            <input type="text" id="achievement" name="achievement" value="<%=detail.achievement%>">
            <button>Submit</button>
        </form>
    </div>
</body>

</html>