<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/form.css">
</head>

<body>

    
    <div>
        <h2>Enter Your Education Details</h2>

        <form method="POST" action="/education-detail">
            <label for="institute">Institute Name</label>
            <input type="text" id="institute" name="institute" placeholder="Your institue name..">

            <label for="from">From</label>
            <input type="text" id="from" name="from" placeholder="From" style="display: inline; width: 20%;">
            <label for="to">To</label>
            <input type="text" id="to" name="to" placeholder="To" style="display: inline; width: 20%;">
            <br>

            <label for="percent">Percent/CGPA</label>
            <input type="text" id="percent" name="percent" placeholder="Percent/CGPA">

            <button>Submit</button>
        </form>
    </div>
</body>

</html>