<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/form.css">
</head>

<body>

    

    <div>
        <h2>Enter Your Personal Details</h2>
        <form method="POST" action="/personal-detail">
            <label for="fname">Name</label>
            <input type="text" id="fname" name="name" placeholder="Your name..">
            <label for="contact-number">Contact Number</label>
            <input type="text" id="contact-number" name="contact" placeholder="Your contact number..">

            <label for="email">Email id</label>
            <input type="email" id="email" name="email" placeholder="Your email..">

            <button>Submit</button>
        </form>
    </div>
</body>

</html>