<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/form.css">
    </head>
<body>



<div>
    <h2>Enter Your Project Details</h2>
  <form method="POST" action="/project-detail">
    <label for="project">Project Name</label>
    <input type="text" id="project" name="project" placeholder="Your project name..">

    <label for="description">Describe Your project</label>
    <textarea id="description" name="description" rows="4" cols="50" placeholder="Describe your project.."></textarea>

    <button>Submit</button>
  </form>
</div>
</body>
</html>


