<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/form.css">
    </head>
<body>



<div>
    <h2>Enter Your Technical Details</h2>
  <form method="POST" action="/technical-skills">
    <label for="Languages">Languages</label>
    <input type="text" id="languages" name="languages" placeholder="Enter comma seperated languages..">
    <button>Submit</button>
  </form>
</div>
</body>
</html>


