<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/form.css">
    </head>
<body>



<div>
    <h2>Enter Your Work Experience</h2>
  <form method="POST" action="/work-experience">
    <label for="company">Company Name</label>
    <input type="text" id="company" name="company" placeholder="Your company name..">

    <label for="description">Describe Your Work</label>
    <textarea id="description" name="description" rows="4" cols="50" placeholder="Describe your Work.."></textarea>
  
    <button>Submit</button>
  </form>
</div>
</body>
</html>


